@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Acorn';
  src: url('/fonts/Acorn-Regular.otf') format('otf'),
       url('/fonts/Acorn-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Acorn';
  src: url('/fonts/Acorn-Regular.otf') format('otf'),
       url('/fonts/Acorn-Regular.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:linear-gradient(142deg, rgba(26, 26, 46, 1) 0%, rgba(0, 78, 100, 1) 100%);
    --foreground: #ededed;
  }
}

body {
  color: white;
  background: var(--background);
}

h1,.wel{
  font-family: 'Acorn','sans-serif';
}
