@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Acorn';
  src: url('/fonts/Acorn-Regular.otf') format('otf'),
       url('/fonts/Acorn-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Acorn';
  src: url('/fonts/Acorn-Regular.otf') format('otf'),
       url('/fonts/Acorn-Regular.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:linear-gradient(142deg, rgba(26, 26, 46, 1) 0%, rgba(0, 78, 100, 1) 100%);
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background:linear-gradient(142deg, rgb(209, 209, 231) 0%, rgb(0, 178, 227) 100%);
    --foreground: #ededed;
  }
} */

:root {
  --background:linear-gradient(
    to bottom right,
    rgb(71, 237, 249),  /* Sky blue */
    rgb(166, 226, 246),  /* Light steel blue */
    rgb(240, 248, 255)   /* Alice blue */
  );
}

.dark {
  --background:linear-gradient(142deg, rgba(26, 26, 46, 1) 0%, rgba(0, 78, 100, 1) 100%);
}

body {
  color: white;
  background: var(--background);
  transition: background 0.7s ease, color 0.7s ease;
}

h1,.wel,.ftText{
  font-family: 'Acorn','sans-serif';
}
